<connectionStrings>
  <add name="eToolsDB"
       connectionString="Data Source=.; 
       Initial Catalog=eTools;
       Integrated Security= true" providerName="System.Data.SqlClient"/>
  <add name="DefaultConnection"
      connectionString="Data Source=.;Initial Catalog=aspnet-ETools;Integrated Security=SSPI"
      providerName="System.Data.SqlClient"/>
  <!--<add name="DefaultConnection"
      connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=aspnet-EToolsWebsite-3698eaa1-aa86-45da-8447-4d0742688bd6;AttachDbFilename=|DataDirectory|\aspnet-EToolsWebsite-3698eaa1-aa86-45da-8447-4d0742688bd6.mdf;Integrated Security=SSPI"
      providerName="System.Data.SqlClient"/>-->
</connectionStrings>